

.mycontainer{
    background-color: #5555D1;
    height: 70%;
    width: 100%;
}

.p1{
    height: 100%;
    color: white;
}

.p2{
    height: 100%;
}

.mainHeading{
    font-size: 370%;
    font-weight: bold;
}

.subHeading{
    font-size: 110%;
}

.headerplacers{
    margin-left: 12%;
    margin-top: 7%;
}

.infoplacer{
    margin-top: 6%;
}

.infoplacer2nd{
    margin-top: 2%;
}

.imgplacer{
    width: 11%;
    margin-left: 12%;
    margin-top: 4%;
}


.phoneheader{
    font-size: 130%;
    margin-left: 0;
    display: inline-table;

}

.phoneheader_value{
    font-size: 130%;
    font-weight: bold;
    margin-left: 0;
    margin-top: 0;
}


.custom-input {
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 5%;
}

input {
    padding: 10px 0; /* Reduce top and bottom padding */
    width: 160%;
    border: none; /* Remove the border */
    border-bottom: 2px solid #ffffff; /* Add a bottom border */
    outline: none;
    transition: border-color 0.3s;
    background: transparent; /* Remove the background */
}

input:focus {
    border-color: #b3ff00;
}

label {
    position: absolute;
    top: 50%;
    left: 0px;
    font-weight: bolder;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease all;
    color: #ffffff;
}

input:focus + label, input:valid + label {
    top: 2px;
    font-size: 14px;
    color: #b3ff00;
}


.custBTN{
    margin-left: 2.7%;
    margin-bottom: 10%;
    background-color: #fafafa;
    color: #5555D1;
    border: none;
    width: 20%;
    font-size: 18px;
    padding: 1.8% 0%;
    border-radius: 11px;
    font-weight: bold;
}
.mainHeadingp2{
    font-size: 200%;
    font-weight: bold;
    color: white;
}

.headerplacers2{
    margin-left: 2.7%;
    margin-top: 7%;
}





@media (max-width:1440px){
    .custBTN{
        margin-left: 2.7%;
        margin-bottom: 10%;
        background-color: #fafafa;
        color: #5555D1;
        border: none;
        width: 30%;
        font-size: 18px;
        padding: 1.8% 0%;
        border-radius: 11px;
        font-weight: bold;
    }
}

@media(max-width:1024px){
    .imgplacer{
        width: 7%;
        margin-left: 10%;
        margin-top: 2%;
    }
    .headerplacers{
        margin-left: 8%;
        margin-top: 7%;
    }
    .infoplacer{
        margin-top: -8%;
    }
    .phoneheader{
        font-size: 110%;
        margin-left: 0;
        display: inline-table;
        margin-top: -20%;
    
    }
    .phoneheader_value{
        font-size: 110%;
        font-weight: bold;
        margin-left: 0;
        margin-top: -20%;
    }
    .custom-input {
        position: relative;
        margin: 20px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 5%;
    }
    
    input {
        padding: 10px 0; /* Reduce top and bottom padding */
        width: 100%;
        border: none; /* Remove the border */
        border-bottom: 2px solid #ffffff; /* Add a bottom border */
        outline: none;
        transition: border-color 0.3s;
        background: transparent; /* Remove the background */
    }
    
    input:focus {
        border-color: #b3ff00;
    }
    
    label {
        position: absolute;
        top: 50%;
        left: 0px;
        font-weight: bolder;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.3s ease all;
        color: #ffffff;
    }
    
    input:focus + label, input:valid + label {
        top: 2px;
        font-size: 14px;
        color: #b3ff00;
    }

    .mainHeadingp2{
        font-size: 150%;
        font-weight: bold;
        color: white;
    }
    
    .headerplacers2{
        margin-left: 2.7%;
        margin-top: 7%;
    }
    .placer{
        margin-left: 8%;
    }
    .custBTN{
        margin-top: 2%;
        margin-left: 2.7%;
        margin-bottom: 10%;
        background-color: #fafafa;
        color: #5555D1;
        border: none;
        width: 60%;
        font-size: 18px;
        padding: 1.8% 0%;
        border-radius: 11px;
        font-weight: bold;
    }
    
}

@media(max-width:785px){
    .imgplacer{
        width: 20%;
        margin-left: 10%;
        margin-top: 2%;
    }
    .headerplacers{
        margin-left: 8%;
        margin-top: 7%;
    }
    .infoplacer{
        margin-top: -8%;
    }
    .phoneheader{
        font-size: 110%;
        margin-left: 0;
        display: inline-table;
        margin-top: -20%;
    
    }
    .phoneheader_value{
        font-size: 110%;
        font-weight: bold;
        margin-left: 0;
        margin-top: -20%;
    }
    .custom-input {
        position: relative;
        margin: 20px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 5%;
    }
    
    input {
        padding: 10px 0; /* Reduce top and bottom padding */
        width: 90%;
        border: none; /* Remove the border */
        border-bottom: 2px solid #ffffff; /* Add a bottom border */
        outline: none;
        transition: border-color 0.3s;
        background: transparent; /* Remove the background */
    }
    
    input:focus {
        border-color: #b3ff00;
    }
    
    label {
        position: absolute;
        top: 50%;
        left: 0px;
        font-weight: bolder;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.3s ease all;
        color: #ffffff;
    }
    
    input:focus + label, input:valid + label {
        top: 2px;
        font-size: 14px;
        color: #b3ff00;
    }

    .mainHeadingp2{
        font-size: 150%;
        font-weight: bold;
        color: white;
    }
    
    .headerplacers2{
        margin-left: 2.7%;
        margin-top: 7%;
    }
    .placer{
        margin-left: 8%;
    }
    .custBTN{
        margin-top: 2%;
        margin-left: 2.7%;
        margin-bottom: 10%;
        background-color: #fafafa;
        color: #5555D1;
        border: none;
        width: 60%;
        font-size: 18px;
        padding: 1.8% 0%;
        border-radius: 11px;
        font-weight: bold;
    }
}

@media(max-width:480px){
    .imgplacer{
        width: 18%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .headerplacers{
        margin-left: 8%;
        margin-top: 7%;
    }
    .infoplacer{
        margin-top: -8%;
    }
    .phoneheader{
        font-size: 110%;
        margin-left: 0;
        display: inline-table;
        margin-top: -20%;
    
    }
    .phoneheader_value{
        font-size: 110%;
        font-weight: bold;
        margin-left: 0;
        margin-top: -20%;
    }
    .custom-input {
        position: relative;
        margin: 20px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 5%;
    }
    
    input {
        padding: 10px 0; /* Reduce top and bottom padding */
        width: 90%;
        border: none; /* Remove the border */
        border-bottom: 2px solid #ffffff; /* Add a bottom border */
        outline: none;
        transition: border-color 0.3s;
        background: transparent; /* Remove the background */
    }
    
    input:focus {
        border-color: #b3ff00;
    }
    
    label {
        position: absolute;
        top: 50%;
        left: 0px;
        font-weight: bolder;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.3s ease all;
        color: #ffffff;
    }
    
    input:focus + label, input:valid + label {
        top: 2px;
        font-size: 14px;
        color: #b3ff00;
    }

    .mainHeadingp2{
        font-size: 150%;
        font-weight: bold;
        color: white;
    }
    
    .headerplacers2{
        margin-left: 2.7%;
        margin-top: 7%;
    }
    .placer{
        margin-left: 8%;
    }
    .custBTN{
        margin-top: 2%;
        margin-left: 2.7%;
        margin-bottom: 10%;
        background-color: #fafafa;
        color: #5555D1;
        border: none;
        width: 40%;
        font-size: 18px;
        padding: 1.8% 0%;
        border-radius: 11px;
        font-weight: bold;
    }
    
}

@media(max-width:425px){


    .mainHeading{
        font-size: 170%;
        font-weight: bold;
    }
    
    .subHeading{
        font-size: 110%;
    }
    .custom-input {
        position: relative;
        margin: 20px;
        width: 100%;
        max-width: 300px;
        margin-bottom: 5%;
    }
    
    input {
        padding: 10px 0; /* Reduce top and bottom padding */
        width: 90%;
        border: none; /* Remove the border */
        border-bottom: 2px solid #ffffff; /* Add a bottom border */
        outline: none;
        transition: border-color 0.3s;
        background: transparent; /* Remove the background */
    }
    
    input:focus {
        border-color: #b3ff00;
    }
    
    label {
        position: absolute;
        top: 50%;
        left: 0px;
        font-weight: bolder;
        transform: translateY(-50%);
        pointer-events: none;
        transition: 0.3s ease all;
        color: #ffffff;
    }
    
    input:focus + label, input:valid + label {
        top: 2px;
        font-size: 14px;
        color: #b3ff00;
    }

    .mainHeadingp2{
        font-size: 150%;
        font-weight: bold;
        color: white;
    }
    
    .headerplacers2{
        margin-left: 2.7%;
        margin-top: 7%;
    }
    .placer{
        margin-left: 8%;
    }
    .custBTN{
        margin-top: 2%;
        margin-left: 2.7%;
        margin-bottom: 10%;
        background-color: #fafafa;
        color: #5555D1;
        border: none;
        width: 50%;
        font-size: 18px;
        padding: 1.8% 0%;
        border-radius: 11px;
        font-weight: bold;
    }

    .btn:hover{
        background-color: #5555D1;
        color: #ffffff;
    }
}